.allPostsMainContainer {
  padding-block-start: 10vmin;
  padding-inline: 10px;
  display: flex;
  overflow-x: scroll;
}

.allPostContainer {
  padding: 3vh 3vw;
  margin: auto;
}

.allPosts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: max(5vw, 20px);
  scroll-behavior: calc(250px + 15px + 30px);
}

.allPostsMain {
  height: calc(100vh - 10vmin + 40px);
  overflow-x: scroll;
}
