* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  word-wrap: break-word;
}

.latestPostsContainer {
  padding: 0 3vw;

  margin: auto;
}

.latestPostsContainer > h1 {
  padding-bottom: 5vh;
  text-align: center;
}

.latestPosts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: max(5vw, 20px);
}
/* .widget {
  width: 0;
  height: 900px;
  background-color: gray;
} */
