* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.postContainer {
  width: clamp(16.5rem, 20vw, 20rem);
  box-shadow: 1px 1px 5px gray;
  position: relative;
}

.postImage {
  height: 250px;
  border-radius: 0 0 15px 15px;
  background-image: url(../assests/images/post.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons {
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  gap: 5px;
}

.deleteIcon {
}

.updateIcon {
  width: 20px;
}

/* .postImage > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.postContent {
  text-align: center;
  padding: 15px 1vw 30px 1vw;
}

.postAuthor,
.postDate {
  font-size: smaller;
}

@media (max-width: 604px) {
  .postContainer {
    width: 96vw;
    box-shadow: 1px 1px 5px gray;
  }
}
